body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #EDF2F3; /* #E0DCCF; */
  color: #C7A865; /* #8B6B26; */
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;  /* original #333 */
    background-color: rgba(164,164,164,0.9);  /* original #D5D5D5, background-color: white */
}
/* dropdown START */
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: rgba(164,164,164,0.9);
  padding: 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #8B6B26;
  background: inherit;
}
.offset:before {
  display: block;
  content: " ";
  height: 80px;      /* Give height of your fixed element */
  margin-top: -80px; /* Give negative margin of your fixed element */
  visibility: hidden;
}
h1 {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  font-weight: 600;
}
h3 {
  font-weight: 600;
}
.general-ul ul {
  list-style-type: square;
}
/* color ul squares START */
.general-ul li {
  list-style: none;
}
.general-ul li:before {
  /* For a round bullet */
  /*content: '\2022';*/
  /* For a square bullet */
  content:'\25A0';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -20px;
  top: -2px;
  color: #8B6B26;
  font-size: 1.1em;
}
/* color ul squares END */

.main-body p, .main-body li {
  color: #878787; /* #C7A865; */
  font-size: 1.3em;
  text-align: justify;
}
img[src="images/business-units-2.png"] {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img[src="images/rg-offices.png"] {
  width: 100%;
}
